/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 5, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* line 16, ../sass/style.scss */
body {
  background: #E0E0E0;
}

/* line 20, ../sass/style.scss */
.chatbox {
  width: 90%;
  height: 600px;
  background: #fff;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 3px #ccc;
}
/* line 21, ../sass/style.scss */
.chatbox .title {
  text-align: center;
}
/* line 30, ../sass/style.scss */
.chatbox .chatlogs {
  padding: 10px;
  width: 100%;
  height: 450px;
  background: #eee;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 38, ../sass/style.scss */
.chatbox .chatlogs::-webkit-scrollbar {
  width: 10px;
}
/* line 41, ../sass/style.scss */
.chatbox .chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}
/* line 45, ../sass/style.scss */
.chatbox .chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}
/* line 50, ../sass/style.scss */
.chatbox .chat .user-picture {
  display: none;
  /*width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;*/
}
/* line 57, ../sass/style.scss */
.chatbox .chat .user-picture img {
  display: none;
}
/* line 62, ../sass/style.scss */
.chatbox .chat .chat-message {
  width: 100%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
}
/* line 72, ../sass/style.scss */
.chatbox .friend .chat-message {
  background: #1adda4;
}
/* line 77, ../sass/style.scss */
.chatbox .user .chat-message {
  order: -1;
  background: #1ddced;
}
/* line 82, ../sass/style.scss */
.chatbox .chat-form {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}
/* line 86, ../sass/style.scss */
.chatbox .chat-form textarea {
  background: #1ddced;
  width: 75%;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  color: #999;
}
/* line 96, ../sass/style.scss */
.chatbox .chat-form textarea:focus {
  background: #fff;
}
/* line 100, ../sass/style.scss */
.chatbox .chat-form textarea::-webkit-scrollbar {
  width: 10px;
}
/* line 103, ../sass/style.scss */
.chatbox .chat-form textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}
/* line 109, ../sass/style.scss */
.chatbox .chat-form button {
  background: #1ddced;
  padding: 5px 15px;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin: 0 10px;
  cursor: pointer;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
/* line 118, ../sass/style.scss */
.chatbox .chat-form button:hover {
  background: #13c8d9;
}
/* line 123, ../sass/style.scss */
.chatbox .end {
  padding: 0;
  margin: 0;
  width: 49px;
  height: 20px;
  border-radius: 3px;
  background: gray;
}
/* line 130, ../sass/style.scss */
.chatbox .end .bubble {
  padding: 0;
  bottom: 0;
  margin: 3px;
  opacity: 0.5;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}
/* line 142, ../sass/style.scss */
.chatbox .wait {
  animation: bounce 0.7s ease infinite alternate;
}
/* line 145, ../sass/style.scss */
.chatbox .waitInverse {
  animation: bounceReverse 0.7s ease infinite alternate;
}
@keyframes bounceReverse {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(3px);
  }
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3px);
  }
}
/*=========================================================
tablet landscape format
========================================================== */
@media screen and (min-width: 1024px) {
  /* line 8, ../sass/_tablet.scss */
  .chatbox .chat .user-picture {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
  }
  /* line 14, ../sass/_tablet.scss */
  .chatbox .chat .user-picture img {
    width: 100%;
  }
}
